section.panel.panel-default
  .panel-heading
    h2.panel-title 
      span.glyphicon.glyphicon-leaf
      | Source
  .panel-body
    .form-group(hmt-pool='source')
    .form-group
      label Company Instance
      .btn-group.btn-group-justified
        a.btn(ng-class='{active: !isUsingFile}' ng-click='setUsingFile(false)')
          span.glyphicon
          | Single
        a.btn(ng-class='{active: isUsingFile}' ng-click='setUsingFile(true)')
          span.glyphicon
          | File
      input.form-control(ng-class='{hide: isUsingFile}')
      input.form-control(ng-class='{hide: !isUsingFile}' type='file')
section.panel.panel-default
  .panel-heading
    h2.panel-title 
      span.glyphicon.glyphicon-leaf
      | Target
  .panel-body
    .form-group(hmt-pool='target')
    .form-group
      label Company Instance
      .input-group
        input.form-control
        .input-group-btn: button.btn.btn-primary G
section.panel.panel-default
  .panel-heading
    h2.panel-title 
      span.glyphicon.glyphicon-cog
      | Settings
  .panel-body
    .form-group
      label
        input(type='checkbox' class='hetero')
        span.glyphicon
        | Heterogeneous
section.text-center
  a.btn.btn-submit(ng-click='preview()' href='#' onclick='return false;')
    span.glyphicon.glyphicon-eye-open
    | Preview
.overlay-wrapper.active(hmt-preview-dialog)
  .overlay-bg
  .overlay-body
    .panel.panel-default
      .panel-heading
        h2.panel-title Summary
      .panel-body
        ul.timeline
          li.item
            h3.item-title Source
            h4.item-sub-title {{ source.jndi }}
            h5.item-desc {{ source.ip + ':' + source.port }}
          li.item
            h3.item-title Target
            h4.item-sub-title {{ target.jndi }}
            h5.item-desc {{ target.ip + ':' + target.port }}
          li.item
            h3.item-title Company Instance
            ul.label-list
              li(ng-repeat='label in companies') {{ label }}
      .panel-footer.text-right
        button.btn.btn-submit Confirm
        button.btn.btn-link(ng-click='close()') Cancel
