section.panel.panel-default
  .panel-heading
    h2.panel-title 
      span.glyphicon.glyphicon-leaf
      | Source
  .panel-body
    .form-group(hmt-pool='source')
    .form-group
      label Company Instance
      .btn-group.btn-group-justified
        a.btn(ng-class='{active: !isUsingFile}' ng-click='setUsingFile(false)')
          span.glyphicon
          | Single
        a.btn(ng-class='{active: isUsingFile}' ng-click='setUsingFile(true)')
          span.glyphicon
          | File
      input.form-control(ng-class='{hide: isUsingFile}')
      input.form-control(ng-class='{hide: !isUsingFile}' type='file')
section.panel.panel-default
  .panel-heading
    h2.panel-title 
      span.glyphicon.glyphicon-leaf
      | Target
  .panel-body
    .form-group(hmt-pool='target')
    .form-group
      label Company Instance
      input.form-control
section.panel.panel-default
  .panel-heading
    h2.panel-title 
      span.glyphicon.glyphicon-cog
      | Settings
  .panel-body
    .form-group
      label
        span.glyphicon.glyphicon-check(hmt-hetero)
        | Heterogeneous
section.text-center
  a.btn.btn-submit
    span.glyphicon.glyphicon-eye-open
    | Preview
