section.panel.panel-default
  .panel-heading
    h2.panel-title 
      span.glyphicon.glyphicon-leaf
      | Source
  .panel-body
    .form-group(hmt-pool='source')
    .form-group
      label Company Instance {{ message.sourceInstance }}
      .btn-group.btn-group-justified
        a.btn(ng-class='{active: !isUsingFile}' ng-click='setUsingFile(false)')
          span.glyphicon
          | Single
        a.btn(ng-class='{active: isUsingFile}' ng-click='setUsingFile(true)')
          span.glyphicon
          | File
      div(ng-class='{hide: isUsingFile}')
        input.form-control(ng-model='company.from')
      form(ng-class='{hide: !isUsingFile}' hmt-file method='post' enctype='multipart/form-data' action='/file')
        input.form-control(name='sourceCompanies' type='file')
        input(type='hidden' name='sourcePool' ng-model='source.jndi')
        a.btn.btn-primary(ng-click='validateFile()') Submit
section.panel.panel-default
  .panel-heading
    h2.panel-title 
      span.glyphicon.glyphicon-leaf
      | Target
  .panel-body
    .form-group(hmt-pool='target')
    .form-group
      label Company Instance {{ message.targetInstance }}
      .input-group(hmt-target-company)
        input.form-control(ng-model='company.to')
        .input-group-btn
          button.btn.btn-primary G
          ul.dropdown-menu
            li(ng-repeat='prefix in target.prefix')
              a(ng-click='changePrefix(prefix)' href='#' onclick='return false;') {{ prefix }}
section.panel.panel-default
  .panel-heading
    h2.panel-title 
      span.glyphicon.glyphicon-cog
      | Settings
  .panel-body
    .form-group
      label
        input(type='checkbox' class='hetero')
        span.glyphicon
        | Heterogeneous
section.text-center
  a.btn.btn-submit(ng-click='preview()' href='#' onclick='return false;')
    span.glyphicon.glyphicon-eye-open
    | Preview
.overlay-wrapper(hmt-preview-dialog)
  .overlay-bg
  .overlay-loading
  .overlay-content
    .panel.panel-default
      .panel-heading
        h2.panel-title Summary
      .panel-body
        ul.timeline
          li.item
            h3.item-title Source
            h4.item-sub-title {{ source.jndi }}
            h5.item-desc {{ source.ip + ':' + source.port }}
          li.item
            h3.item-title Target
            h4.item-sub-title {{ target.jndi }}
            h5.item-desc {{ target.ip + ':' + target.port }}
          li.item
            h3.item-title Company Instance
            ul.label-list
              li(ng-if='isUsingFile' ng-repeat='label in companies') {{ label }}
              li(ng-if='!isUsingFile')
                | {{ company.from }}
                span.glyphicon.glyphicon-arrow-right
                | {{ company.to }}
      .panel-footer.text-right
        button.btn.btn-submit(ng-click='migrate()') Confirm
        button.btn.btn-link(ng-click='close()') Cancel
