extends layout.jade
block stylesheet
  link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
  link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap-theme.css')
  link(rel='stylesheet' href='/stylesheets/style.css')
block body
  body(ng-app='hmt')
    header.navbar.navbar-default.navbar-fixed-top: .container
      .navbar-header
        h1: a.navbar-brand(href='/')= title
      .navbar-right
        img.navbar-brand(src='/images/logo_successfactors.png')
    main.container
      aside
        .avatar: span.glyphicon.glyphicon-retweet
        ul.nav.nav-stacked
          li.active: a(href='#/home')
            span.glyphicon.glyphicon-home
            | Home
          li: a(href='#/history')
            span.glyphicon.glyphicon-time
            | History
          li: a(href='#/queue') 
            span.glyphicon.glyphicon-list-alt
            | Queue
      section.content
        .header
        .main(ng-view)
    footer.container
      ul.nav.nav-pills.pull-right
        li: a(href='/') About
        li: a(href='/') Privacy
        li: a(href='/') Help

    script(src='/bower_components/angular/angular.js')
    script(src='/bower_components/angular-route/angular-route.js')
    script(src='/javascripts/main.js')
