label DB Pool
input.form-control(ng-model='poolName')
ul.dropdown-menu(ng-class='{active: isActive}')
  li(ng-repeat='name in names')
    a(href='#' onclick='return false;' ng-click='setPoolName($index)') {{ name }}
