table.table.table-striped.table-bordered
  thead: tr
    th #
    th Start Date
    th Status
    th Operator
    th Source Schema
    th Target Schema
    th Action
  tbody
    tr(ng-repeat='item in list')
      td {{ $index }}
      td {{ item.startDate }}